<%= form_for @match do |form| %>
  <%= form.error_messages %>
  <p>
    <%= form.label :round %>
    <%= form.select :round, Match::ROUNDS %>
  </p>
  <p>
    <%= form.label :group %>
    <%= form.select :group, Match::GROUPS, :include_blank => true %>
  </p>
  <p>
    <%= form.label :team_1_name, "Mannschaft 1" %>
    <%= form.text_field :team_1_name %>
  </p>
  <p>
    <%= form.label :team_2_name, "Mannschaft 2" %>
    <%= form.text_field :team_2_name %>
  </p>
  <p>
    <%= form.label :starts_at %>
    <%= form.datetime_select :starts_at %>
  </p>
  <p>
    <%= form.label :half_time_score, "Halbzeitstand" %>
    <%= form.text_field :half_time_score %>
  </p>
  <p>
    <%= form.label :score, "Endstand" %>
    <%= form.text_field :score %>
  </p>
  <p>
    <%= form.submit submit_message %>
  </p>
<% end %>