<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="description" content="Wer gewinnt die Fußball-Europameisterschaft 2012? Wenn du es weißt, tipp mit!">
  <title>tippSpiel</title>

  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag("application") %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div id="page-container">

    <div id="title-and-navigation">

      <div id="title-image">
        <%= link_to image_tag("footballplayer.png", :alt => "Fußball", :border => 0, :width => '170'), root_path %>
      </div>

      <h1>3 - 2 - 1 - tippen!</h1>

      <ul>
        <li <%= "class='checked'" if controller.controller_name == 'matches' %>>
          <%= link_to "Spiele", matches_path %>
        </li>
        <li <%= "class='checked'" if controller.controller_name == 'teams' %>>
          <%= link_to "Mannschaften", teams_path %>
        </li>
        <% if logged_in? %>
          <li <%= "class='checked'" if controller.controller_name == 'tips' %>>
            <%= link_to "Tipps", user_tips_path(current_user) %>
          </li>
        <% end %>
        <li <%= "class='checked'" if controller.controller_name == 'users' && params[:action] == 'index' %>>
          <%= link_to "Mitspieler", users_path %>
        </li>
        <% if logged_in? %>
          <li <%= "class='checked'" if controller.controller_name == 'users' && params[:action] != 'index' %>>
            <%= link_to "Profil", current_user %>
          </li>
          <li <%= "class='checked'" if controller.controller_name == 'sessions' %>>
            <%= link_to "Logout", session_path, :method => :delete %>
          </li>
        <% else %>
          <li <%= "class='checked'" if controller.controller_name == 'sessions' %>>
            <%= link_to "Login", new_session_path %>
          </li>
          <li <%= "class='checked'" if controller.controller_name == 'users' && params[:action] == 'new' %>>
            <%= link_to "Registrieren", new_user_path %>
          </li>
        <% end %>
      </ul>
    </div><!-- /title-and-navigation -->

    <% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
    <% end %>
    <div id="content">
      <%= yield %>
    </div>


    <div id="footer">
      <h1>Nächste Spiele tippen</h1>
      <ul>
        <% Match.next_matches.each do |match| %>
        <li>
          <%= truncate(match.team_1_name, :length => 11, :omission => ".") %> : <%= truncate(match.team_2_name, :length => 11, :omission => ".") %>
          <small class="date"><%= match.starts_at %></small>
        </li>
        <% end %>
      </ul>
    </div>
  </div><!-- /page-container -->
</body>
</html>
